h1{background-color: tomato; text-align: center;}
body{background: url(https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcTsKG-sJ8V0743RfiT1Y4OcQFvjuXluDqOKLXO6guUgMWNRvwLb&usqp=CAU.png);}
p{text-decoration-color: violet;text-align: center;}
h2{background-color: violet;text-align: center;}
h3{background-color: green;text-align: center;}
h3{background-color:orange;text-align:center;}